$melon: #fec5bb;
$palepink: #fcd5ce;
$mistyrose: #fae1dd;
$isabelline: #f8edeb;
$platinum: #e8e8e4;
$alabaster: #d8e2dc;
$linen: #ece4db;
$champagnepink: #ffe5d9;
$peachpuff: #ffd7ba;
$peachcrayola: #fec89a;
$babypink: #f4c0b8;
